/*==============================================
=                      Header                   =
===============================================*/

header {
    .menu-bar {
        display: none;

        @include tb {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            width: 100%;
            height: 40px;
            background-color: $celeste;
            position: fixed;
            top: 0;
            z-index: 500;
            box-shadow: 0 0 3px 3px rgba($negro,0.4);
        }

        .bt-menu {
            width: 30px;
            margin-right: 15px;
            cursor: pointer;

            .uno, .dos, .tres {
                width: 100%;
                height: 2px;
                background-color: $blanco;
                transition: all 0.5s ease;
            }
    
            .dos {
                margin: 6px 0;
            }
        }

        .bt-menu2 {
            .dos {
                opacity: 0;
            }
    
            .uno {
                transform: rotate(45deg) translate(5px, 5px);
            }
    
            .tres {
                transform: rotate(-45deg) translate(6px, -6px);
            }
        }
    }

    .logo-telefono {
        border-bottom: 4px solid $celeste;
        padding: 10px 0;

        @include tb {
            padding: 50px 0 10px;
        }
    }

    .wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include mb {
            flex-direction: column;
        }

        .logo {
            width: 200px;

            @include mb {
                width: 90%;
            }

            img {
                width: 100%;
                display: block;
            }
        }

        .telefono-header {
            font: 30px $texto;
            color: $celeste;
            transition: color 0.3s ease;

            &:hover {
                color: darken($celeste,10);
            }

            @include mb {
                margin-top: 20px;
            }
        }

        .menu {
            width: 100%;
            display: flex;
            list-style: none;
            justify-content: space-between;
            padding: 10px 0;

            @include tb {
                flex-direction: column;
                align-items: center;
                padding: 0;
            }

            li {
                @include tb {
                    width: 100%;
                    border-top: 1px solid rgba($blanco,0.15);
                    text-align: center;
                }
            }

            a {
                font: 16px $titulo;
                font-weight: 800;
                letter-spacing: 2px;
                color: $negro;
                text-transform: uppercase;
                transition: color 0.3s ease;

                @include tb {
                    color: $blanco;
                    width: 100%;
                    height: 100%;
                    display: block;
                    padding: 8px 0;
                }

                &:hover {
                    color: $celeste;

                    @include tb {
                        color: $blanco;
                        background-color: darken($celeste,10);
                    }
                }
            }
        }
    }

    .wrapper-menu {
        @include tb {
            width: 100%;
        }
    }

    .bloque {
        height: 42px;
        display: none;
    }

    .main-menu {
        position: relative;
        z-index: 300;

        @include tb {
            width: 100%;
            position: fixed;
            top: -190px;
            background-color: $celeste;
        }
    }

    @keyframes baja {
        from {
            top: -77px;
        }
    
        to {
            top: 0;
        }
    }

    .main-menu-fijo {
        position: fixed;
        width: 100%;
        top: 0;
        background-color: rgba($blanco,0.97);
        box-shadow: 0 0 2px 2px rgba($negro,0.3);
        animation: baja 0.5s;
        @include transition(0.5);
    }
}

/*=============  Fin de Header  ==============*/